@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'caviar_dreamsbold';
    src: url(../assets/caviar_dreams_bold-webfont.eot);
    src: url(../assets/caviar_dreams_bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../assets/caviar_dreams_bold-webfont.woff) format('woff'),
         url(../assets/caviar_dreams_bold-webfont.ttf) format('truetype'),
         url(../assets/caviar_dreams_bold-webfont.svg#caviar_dreamsbold) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url(../assets/caviardreams-webfont.eot);
    src: url(../assets/caviardreams-webfont.eot?#iefix) format('embedded-opentype'),
         url(../assets/caviardreams-webfont.woff) format('woff'),
         url(../assets/caviardreams-webfont.ttf) format('truetype'),
         url(../assets/caviardreams-webfont.svg#caviar_dreamsregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: Helvetica, Arial, sans-serif;
}
/* Header */
#pageTitle{
	padding-right: 10px;
	margin:0px;
}
#titleDirectory{
	color: #518d84;
	font-size: 4.28em;
	margin-top:-22px;
	margin-bottom:-32px;
	}
#titleHeader
{
	color:#FFF;
	font-size:3.46em;
	margin-top: 78px;
	padding-top: 0px;
	margin-bottom: 0px;
}
#mainLogo img{
	padding:20px 0;
}
header{
	height:180px;
	background-color:#74cabd;
}
#titleHeaderSolo{
	color:#FFF;
	font-size:4.28em;
	margin-top: 35px;
	margin-bottom: 10px;
}
#headerContainerSolo{
	margin-top: 106px;
}
#headerContainer
{
	margin-bottom: -13px;
}
/* Main Page */
.iconRow{
	margin-top:45px;
	margin-bottom:45px;
}
.iconText{
	color:#74cabd;
	text-transform:uppercase;
}
/* Dashboard */
.dashboardText{
	margin-top:15px;
	color:#74cabd;
	font-size:2.5em;
	text-transform:uppercase;
}
.dashboardRow{
	margin-bottom:40px;
}
#whiteSpace{
	margin: 85px 0 125px 0;
	
}
/* Chat */
#chat{
	margin-top:25px;
}
#chatConversation{
	height: 280px;
	overflow:hidden;
	border-bottom: 2px solid #74cabd;
	margin-bottom:20px;
	
}
#chatSideOptions{
	border-left: 3px solid  rgba(102,204,204,.4);
	padding: 0 auto;
	
}
#chatArea{
	height:450 px;
}
#chatPadding{
	margin-right:50px;
}
.userResponse, .operatorResponse{
	padding:5px;
	border-bottom: 2px solid #74cabd;
}
.userResponse p, .operatorResponse p{
	font-size:.95em;
	margin-top:18px;
}
.chatUsersName{
	color: #74cabd;
	text-transform:uppercase;
}
#inputArea textarea{
	margin-top:5px;
}
/* Calendar */
#calendarMonth, #calendarYear, .monthSelector{
	color:#74cabd;
}
.monthSelector{
	margin-top: 30px;
	font-size:3.5em;
}
#calendarMonth{
	margin-top:20px;
	text-transform:uppercase;
	font-size:1.25em;
	font-weight:bold;
}
#calendarYear{
	margin-top:-10px;
}
#calendarDays{
	padding-bottom:0px;
	margin-top:10px;
	border-bottom: #74cabd solid 3px;
}
#calendarDays li, .calendarWeek li {
	display:inline;
	color:#518d84;
	font-size:1.25em;
	margin: 0 22.5px;
	padding: 0 10px;
}
.calendarDay{
	height: 50px;
	width: 50px;
}
.calendarWeek li {
	height:50px;
	width:50px;
	color:#518d84;
	font-size:1.25em;
	margin: 0 20px;
	padding: 10px;
}
.calendarWeeks ul {
	list-style:none;
	width:100%;
	padding-left:10px;
}
#calendarDays{
	list-style:none;
	width:100%;
	padding-left:15px;
}
.calendarWeeks ul li{
	color: #74cabd;
}
.calendarWeeks ul .nextLastMonth{
	color: #CCC;
}
#calendarAccordion{
	height:405px;

}
#calendarAccordion .accordion {
  *zoom: 1;
  margin-bottom: 50px; }
  #calendarAccordion .accordion:before, #calendarAccordion .accordion:after {
    content: " ";
    display: table; }
  #calendarAccordion .accordion:after {
    clear: both; }
  #calendarAccordion .accordion dd {
    display: block;
    margin-bottom: 0 !important; }
    #calendarAccordion .accordion dd.active a {
	 border-left: 10px solid #74cabd;
     background: #518d84; }
    #calendarAccordion .accordion dd > a {
      background: #FFF;
	  border-bottom: 2px solid #b9e4de;
	  border-left: 10px solid #518d84;
      color: #fff;
	  background: #74cabd;
      padding:20px 1rem;
      display: block;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 1.15rem; }
      #calendarAccordion .accordion dd > a:hover {
		border-left: 10px solid #74cabd;
        background: #518d84;
		background: url(../img/accordionArrowCalendar.png) #518d84 no-repeat center left;
		color: #fff }
  #calendarAccordion .accordion .content {
	background: #518d84;
    display: none;
	color: color:#fff;
	border-left: 10px solid #74cabd;
    padding: 0.3375rem; }
    #calendarAccordion .accordion .content.active {
	 color:#fff;
     display: block;
     background: #518d84;
	 border-left: 10px solid #74cabd; }
#calendarAccordion  dd:hover{
	background-color:#518d84;
}
#calendarAccordion span{
	font-size:1.75em;
	margin-top:-15px;
}
.eventStart, .eventEnd{
	font-size:1.35em;
}
.eventStart{
	margin-top:10px;
}
.eventEnd{
	margin-top:-30px;
}
.event{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius:50%;
	border: solid 2px #74cabd;
}
.event:hover{
	cursor:pointer;
}
.ui-datepicker-title, .ui-datepicker-header, .ui-widget-header,.ui-datepicker-prev{
	display:none;
}
.ui-datepicker-inline{
	width:100%;
	height:300px;
}
th {
	border-bottom: solid 2px #74cabd;
	background-color:#FFF;
}
/* Login */
#loginLogo{
	margin: 1% auto;
	height: 155.5px;
}
#loginArea{
	background-color:#74cabd;
	padding-bottom:3%;
}
#schoolName, #appTitle, #loginArea label{
	color:#fff;
	text-transform:uppercase;
}
#schoolName{
	font-size:2.75em;
	margin-top:10px;
	margin-bottom:-35px;
	padding:0;
}
#appTitle{
	font-size:4em;
	padding-top:0px;
	margin-bottom:0px;
}
#loginArea label{
	font-size:1.25em;
}


/* Requests */
.sectionLabel{
	font-size:1.075em;
	font-weight:lighter;
	text-transform:uppercase;
	margin-top:20px;
	margin-bottom:-5px;
	color:#647673;
}
#addRoommate{
	margin-top:3px;
}
#roommateText{
	margin-top:2px;
	margin-right:3px;
}
/* Points */
.pointsInfo{
	height:65px;
}
.pointsInfraction{
	text-transform:uppercase;
	font-size:1.45em;
	margin-bottom:-8px;
}
.pointsDate{
	font-size:1em;
	color:#999;
	margin-bottom:10px;
	font-weight:bold;
}
a:hover .pointsDate{
	color:#FFF;
}
#pointsScroll{
	margin-top:35px;
	margin-bottom:125px;
	height:250px;
	overflow-y:scroll;
	width:475px;

}
#pointsImage{
	margin-top:25px;
}
.pointsWhiteSpace{
	height:150px;
	border-left:15px solid #74cabd;
}
/* Edit Account */
#editAccountContent, #createAccountContent{
	margin-top:10px;
}
#editAccountContent{
	margin-top:40px;
}
#lastName{
	margin-top:-15px;
}
#programName{
	color:#74cabd;
	font-size:1.3em;
}
.accountLine{
	width:100%;
	height:7px;
	background-color: #b9e4de;
	background-color: rgba(116,202,189,.5);
	margin:5px 0 15px 0;
}
/* Balance */
#balanceItems{
	padding-right: 5px;
}
#balancePrices{
	height:150px;
	padding-left:5px;
	border-left:#397036 solid 3px;
}
#balanceChart{
	margin-top:50px;
}
.chartPrice{
	padding:20px 0px;
	
	margin-right:7.5%;
	color:#518d84;
	font-size:1.45em;
}
.chartItem{
	padding:20px 0px;
	margin-left:5.5%;
	color:#518d84;
	font-size:1.45em;
}
#balanceTotal{
	margin-top:3%;
}
.balanceLine{
	border-bottom: 3px solid #d7e2d7;
	border-bottom: 3px solid rgba(57,112,54,.2);
}
/*Building Pages */
#buildingRow{
	margin-top:10px;
}
#buildingContent{
	color:#74cabd;
	font-size:.85em;
	margin:0;
}
#cleaningImage, #garbageImage{
	margin-top:40px;
	
}
/*Classifieds Pages */
#listingRadio{
	margin-top:15px;
}
#classifiedFilters{
	margin-top:-20px;
	margin-bottom:20px;
}
#classifiedList{
	list-style:none;
	margin-left:40px;
	margin-top:10px;
}
.classifiedListItem{
	padding:0;
	margin: 0  0 -5px 0;
	font-size: 1.4em;
	color:#518d84;
}
#classifiedDescription{
	height:112px;
}
#classifiedMoneyInput{
	display: inline;
}
#moneyInput{
	margin-right:20px;
	width:40%;
	float:right;
}
.classifiedListItem:hover{
	color:#fff;
}
#listingForm{
	margin-top:20px;
}
#listingTitle{
	font-size:1.35em;
	color: #74cabd;
	margin-bottom:-5px;
}
#classifiedRow{
	height:217px;
	overflow:hidden;
}
#classifiedSection{
	height:217px;
	overflow-y:scroll;
	padding:0;
	border-top: solid 2px #74cabd;
	border-bottom: solid 2px #74cabd;;
}
.classifiedRow{
	margin-top:5px;
}
.itemTitle, .itemStatus, .itemPrice, .userNameClass{
	font-size:1.15em;
}
.userNameClass{
	margin-bottom:-10px;
}
.itemStatus, .itemPrice{
	margin-top:20px;
}
.itemStatus{
	text-transform:uppercase;
	padding-top:10px;
	margin-right:30px;
}
.itemTitle{
	padding-top:5px;
	margin-bottom:-5px;
}
.itemStatus, .itemPrice{
	font-weight: 500;
}
.itemDesc{
	font-size:.75em;
}
.itemFullDesc{
	font-size:.85em;
	color:#518d84;
	padding-left:120px;
	
	border-right: 2px solid #CCC;
	border-right: 2px solid rgba(102,204,204,.4);
	
}
.itemFullDescSell{
	font-size:.80em;
	color:#518d84;
	padding:40px 0 40px 0;
	
	border-right: 2px solid #CCC;
	border-right: 2px solid rgba(102,204,204,.4);
}
.contactSellUser{
	margin-top: 25px;
}
.contactBuyUser{
	margin-top:10px;
}
.userContactInfo{
	color:#518d84;
	font-size: .70em;
	padding-top: 3px;
	margin-left:-10px;
}
.kern{
	margin-left:2px;
}
/* Global */
.filler{
	margin-top:100px;
}
.line{
	height:4px;
	width:100%;
	background-color: rgba(102,204,204,.4);
	margin: 5px 0;
}
.header{
	font-family: 'caviar_dreamsregular';
	text-transform:uppercase;
}
.accordionLink{
	color:#74cabd;
	background-color: #fff;
}
.accordionLink:hover{
	color:#fff;
	background-color:#74cabd;
}
.accordionTitle a{
	color: #518d84;
	font-size:1.15em;
}
.accordionBottom{
	border-bottom: 2px solid #999999;
	border-bottom: 2px solid rgba(102,204,204,.4);
	z-index:2;
}
.inputRow{
	padding-bottom: 0px;
}
.labelInfo{
	font-size:1.075em;
	margin-top:8px;
	color :#647673;
}
#noticeTitle{
	margin-top:30px;
	color: #74cabd;
	font-size:2.5em;
	text-transform:uppercase;
	font-weight:800;
	
}
.accordionScroll{
	width:625px;
	height:315px;
	overflow:hidden;
}
.labelPush{
	margin-left:15px;
}
#requestHeader{
	color:#FFF;
	font-size:3.46em;
	margin-top: 70px;
	padding-top: 0px;
	margin-bottom: 0px;
}
/* Footer */
footer{
	position:fixed;
   	bottom:0;
	left:0;
   	width:100%;
	background-color:#74cabd;
	height:70px;
	z-index:100;
}
.menuText{
	margin-top:-10px;
	color: #fff;
	text-transform:uppercase;
	font-size: .6em;
}
.botAnchor{
	-webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
	transition: color 2s;
}
.botAnchor:hover p{
	color: #518d84;
}
.botImg{
	-webkit-transition: opacity .3s; /* For Safari 3.1 to 6.0 */
	transition: opacity .3s;
}
.botImg:hover{
	opacity:.8;
}
.botImg:active{
	opacity:0;
}
